form {
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px;
  margin-bottom: 2px;
  margin-left: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.unchecked, .checked, .unchecked-radio, .checked-radio, .up-arrow, .down-arrow {
  background: url('./form-elements-sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

#test {
  background: url('./form-elements-sprite.png');
  width: 500px;
  height: 500px;
}

input[type="checkbox"] {
  display: none;
}

.unchecked {
  display: inline-block;
  background-position: -157px -239px; 
  width: 163px;
  height: 161px;
}

.checked {
  display: inline-block;
  background-position: -379px -239px; 
  width: 163px;
  height: 161px;
}

input[type="radio"] {
  display: none;
}

.unchecked-radio {
  display: inline-block;
  background-position: -582px -242px; 
  width: 168px;
  height: 167px;
}

.checked-radio {
  display: inline-block;
  background-position: -812px -242px; 
  width: 168px;
  height: 167px;
}

.up-arrow {
  background-position: -1009px -244px; 
  width: 122px;
  height: 167px;
}

.down-arrow {
  background-position: -1120px -241px; 
  width: 122px;
  height: 167px;
}

.text-inputs {
  margin-bottom: 30px;
}

select option {
  background: rgb(155, 155, 155);	
}

select option.odd {
  background: rgb(216, 216, 216);
}

fieldset {
  border: none;
}

#text-input-validation-error {
  border: 1px solid red;
}

#default {
  display: none;
}